<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" id="itemName" name="itemName" [ngModel]="itemName" (ngModelChange)="changeItemName($event)" placeholder="insert what you want to look for"/>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="look()">Look</button>
    </div>
    <div class="col-md-2" *ngIf="stocks.length > 0">
      <button class="btn btn-success" (click)="refresh()">Refresh</button>
    </div>
    <div class="col-md-2" *ngIf="stocks.length > 1">
      <button class="btn btn-info" (click)="getAverage()">Average</button>
    </div>
   </div>
   <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Currency</th>
              <th scope="col">Price</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let st of stocks">
              <th scope="row">{{st.symbol}}</th>
              <td>{{st.name}}</td>
              <td>{{st.currency}}</td>
              <td>{{st.price}}</td>
              <td><button (click)="delete(st.symbol)" class="btn btn-danger">X</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="average > 0">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      The average price is: {{average}}
    </div>
  </div>
</div>
